.users__header {
  margin: 0 0 2rem;
}

.users__title {
  margin: 0;
  font-size: 2.3rem;
  font-weight: 600;
}

.users__title-small {
  margin: 0 0 0 0.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  top: -0.1rem;
}

.users__table {
  width: 100%;
  margin: 0 0 3rem;
  text-align: left;
  border-collapse: collapse;
}

.users__table-header {
  font-size: 0.9rem;
  font-weight: 700;
  background: $light-gray-3;
}

.users__table-body {
  font-size: 1rem;
}

.users__table_row {
  border-bottom: 1px solid $light-gray-3;
}

.users__table-cell {
  padding: 1rem 0.8rem;
}

.users__table-cell--name {
  width: 30%;
  cursor: pointer;
}

.users__table-cell--email {
  width: 35%;
  cursor: pointer;
}

.users__table-cell--date {
  width: 30%;
  cursor: pointer;
}

.users__table-cell--action {
  width: 5%;
}

.users__table-header-arrow {
  padding: 0 0 0 0.7rem;
}

.users__table-row-action-container {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 1rem;
  text-align: right;
  padding: 0 1rem 0 0;
}

.users__table-row-action {
  height: 1rem;
}

.users__pagination {
  margin: 0 0 3rem;
  text-align: center;
}

.users__pagination-label {
  font-size: 1rem;
  padding: 0 1.5rem;
  position: relative;
  top: 0.4rem;
  color: $medium-gray;
  vertical-align: top;
  display: inline-block;
}

.users__pagination__arrow {
  width: 2rem;
  cursor: not-allowed;
}

.users__empty-state {
  padding: 4rem 0 2rem;
  text-align: center;
}

.users__empty-state-icon {
  font-size: 3rem;
  margin: 0 0 2rem;
  color: $light-gray-1
}

.users__empty-state-text {
  font-size: 0.9rem;
}
