@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf')
  url('../assets/SourceSansPro/SourceSansPro-Black.ttf')
  url('../assets/SourceSansPro/SourceSansPro-BlackItalic.ttf')
  url('../assets/SourceSansPro/SourceSansPro-Bold.ttf')
  url('../assets/SourceSansPro/SourceSansPro-BoldItalic.ttf')
  url('../assets/SourceSansPro/SourceSansPro-ExtraLight.ttf')
  url('../assets/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf')
  url('../assets/SourceSansPro/SourceSansPro-Italic.ttf')
  url('../assets/SourceSansPro/SourceSansPro-Light.ttf')
  url('../assets/SourceSansPro/SourceSansPro-LightItalic.ttf')
  url('../assets/SourceSansPro/SourceSansPro-Regular.ttf')
  url('../assets/SourceSansPro/SourceSansPro-SemiBold.ttf');
}

* {
  box-sizing: border-box;
  color: $black;
}

body {
  font-family: $font;
  font-size: 14px;
  color: $black;
  margin: 0;
  min-width: 1300px;
  padding: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
